@import "tailwindcss";

:root {
  --background: #fafcfc;
  --foreground: #02181e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "zeitung-micro-pro", system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  
  /* Brand Colors */
  --color-brand-primary: #5edd60;
  --color-brand-accent-1: #eae400;
  --color-brand-accent-2: #13a8e2;
  --color-brand-accent-3: #1838d6;
  --color-brand-accent-4: #db6412;
  --color-brand-almost-black: #02181e;
  --color-brand-almost-white: #fafcfc;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "zeitung-micro-pro", system-ui, sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
